<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Ask Mate{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
<div class="main">
  <div class="cell">
{% if questions %}
	<table class="questions">
	  <thead><tr>
		<td>Votes</td><td>Date</td><td>Title</td><td>Image</td><td>Views</td>
	  </tr></thead>
	{% for question in questions %}
	  <tr>
		<td>{{ question.vote_number }}</td><td>{{ question.submission_time }}</td><td> <a href="{{url_for('question', question_id = question.id )}}">{{ question.title }}</a> </td><td>.</td><td>{{ question.view_number }}</td>
	  </tr>
	{% endfor %}
	</table>
    <div class="bottom">To ask question click <a href="{{url_for('ask_question')}}">here</a>.</div>
{% else %}
    <div class="bottom">There are no questions yet. to ask a new one click <a href="{{url_for('ask_question')}}">here</a>.</div>
{% endif %}

	<div class="authors">Bartek &amp; Adam<br />&copy; 2019</div>
  </div>
</div>

<script type="text/javascript">
(function(d){// lazy-loading;
	var a=d.getElementsByTagName("head")[0],b=d.createElement("script");
	b.src = "{{url_for('static', filename='script.js')}}";
	b.onload = function(){
		App_.ini();
	}
	a.appendChild(b);
})(document);
</script>
</body>
</html>
