<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Ask Mate{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
<div class="main">
  <div class="cell">
{% if question %}
	<table class="questions">
	  <thead><tr>
		<td>Votes</td><td>Date</td><td>Title</td><td>Image</td><td>Views</td>
	  </tr></thead>
	  <tr>
		<td>{{ question.vote_number }}</td><td>{{ question.submission_time }}</td><td> {{ question.title }} </td><td>.</td><td>{{ question.view_number }}</td>
	  </tr>
	  <tr>
		<td colspan="5">{{ question.message }}</td>
	  </tr>
	</table>
{% endif %}
{% if answers %}
    <div class="bottom">Your answer: click <a href="{{url_for('new_answer', question_id = question.id)}}">here</a>.</div>
{% else %}
    <div class="bottom">There are no answers yet. You can be first: click <a href="{{url_for('new_answer', question_id = question.id)}}">here</a>.</div>
{% endif %}
{% if answers %}
	<table class="questions">
	  <thead><tr>
		<td>Votes</td><td>Date</td><td>Image</td>
	  </tr></thead>
	{% for answer in answers %}
	  <tr>
		<td>{{ answer.vote_number }}</td><td>{{ answer.submission_time }}</td><td>.</td>
	  </tr>
	  <tr>
		<td colspan="5">{{ answer.message }}</td>
	  </tr>
	  <tr>
		<td colspan="5"><hr /></td>
	  </tr>
	{% endfor %}
	</table>
{% endif %}

	<!--<div class="authors">&amp;&copy;</div>-->
  </div>
</div>

<script type="text/javascript">
(function(d){// lazy-loading;
	var a=d.getElementsByTagName("head")[0],b=d.createElement("script");
	b.src = "{{url_for('static', filename='script.js')}}";
	b.onload = function(){
		App_.ini();
	}
	a.appendChild(b);
})(document);
</script>
</body>
</html>
